@page "/products"
@inject IProductService ProductService

<PageTitle>Products</PageTitle>


@if(products == null){
  <p><em>Loading...</em></p>
}
else{
  <div class="container">
    <div class="row">
      @foreach (var product in products)
      {
      <div class="col-4 mb-4">
       <div class="p-2 card h-100">
        <img src="@product.Image" alt="@product.Name" />
          <h2>@product.Name</h2>
          <p>@product.Description</p>
          <span>@product.Price SEK</span>
       </div>
      </div>
      }
  </div>
    </div>
}


@code {
  List<CRJBlazorWeb.Models.Products> products = new List<CRJBlazorWeb.Models.Products>();
  protected override async Task OnInitializedAsync()
  {
    products = await ProductService.GetProducts();
  }
}
